@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

@import "tailwindcss";

:root {
  /* Paleta de cores primária */
  --background: #ededed;
  --foreground: #1e1e27; 
  --primary-dark: #28242a;
  --accent: #ff3131; 
  --accent-dark: #b7012e;
  --text: #1e1e27;
  --secondary: #28242a;

  /* Propriedades reutilizáveis */
  --font-family-base: 'Poppins', sans-serif; /* Fonte principal */
  --font-size-base: 16px;
  --padding-base: 1rem;
  --border-radius: 0.375rem; /* Mesma arredondamento do Tailwind 'rounded-md' */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--foreground);
    --foreground: var(--background);
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

/* Suporte para temas alternativos (exemplo: tema claro) */
/* [data-theme="light"] {
  --background: #e2e2e2;
  --foreground: #28242a; 
  --primary-dark: #d1d1d1;
  --accent: #df0139;
  --accent-dark: rgb(179, 13, 54);
  --text: #1e1e27;
  --secondary: #ffffff;
} */