<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>layout 1</title>
</head>
<body>
    <header>Cabeçalho</header><!--Representa o grupo de elementos que compoem o cabeçalho da página-->
    <nav>Menu</nav><!--Agrupa um conjunto de links para a navegacao do site-->
    <main>Principa</main><!--Agrupa o conjunto principal da página-->
    <aside>Relacionados</aside><!--Informação de links relacionados ao conteúdo principal-->
    <footer>Rodapé</footer><!--Define o rodapé da pagina ou seção, pode conter infos como contacto, copyrights, informações de autoria, mapa do site, links e documentos relacionados-->
</body>
</html>